{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6">
            <lottie-player
            autoplay
            loop
            speed="0.5"
            mode="normal"
            src="https://assets4.lottiefiles.com/packages/lf20_gjmecwii.json"
            style="heigth: auto"
            >
            </lottie-player>
        </div>
        <div class="col-lg-6">
        <section class="card">
            <div class="card-body text-secondary">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="text-center">
                        <h1 class="h3 font-weight-normal"><i class="bi bi-person"></i> Identifiant </h1>
                    </div>
                    <label for="email"> Adresse e-mail </label>
                    <div class="mb-3 input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="bi bi-envelope-fill"></i></span>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="e-mail" required autofocus>
                    </div>
                    <label for="email"> Mot de passe </label>
                    <div class="mb-3 input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="bi bi-key-fill"></i></span>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="mot de passe" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-lg btn-primary" type="submit">
                            connexion
                        </button>
                    </div>
                </form>
                <div class="text-center mt-4">
                    Vous n'avez pas de compte ? <a href="{{ path('user.registration')}}" class="text-decoration-none" style="color: #6f42c1"> Inscrivez-vous ici </a>
                </div>
            </div>
        </section>
        </div>
    </div>
</div>
{% endblock %}
